<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="SQLConnectionStringPE" connectionString="Server=10.5.1.11;Database=DMD;Uid=sa;Pwd=vls021130;"/>
    <!--<add name ="SQLConnectionStringCE" connectionString="Server=10.5.1.23;Database=DMD;Uid=sa;Pwd=vls021130;"/>-->
    <!--<add name ="SQLConnectionStringProcfit" connectionString="Server=10.5.1.5;Database=PBS_UNIHOSPITALAR_DADOS;Uid=sa;Pwd=ERPM;"/>-->
    <!--<add name ="SQLConnectionStringPE" connectionString="Server=localhost\sqlexpress;Initial catalog=DMD; Integrated security=SSPI;"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>